.form {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.form__label {
  font-size: 2.5rem;
  margin: 30px;
  padding-bottom: 5px;
  color: #222831;
  border-bottom: 2px solid #222831;
}

.form__input {
  max-width: 250px;
  width: 60%;
  font-size: 1rem;
  vertical-align: bottom;
  padding: 10px 0 10px 10px;
  border-radius: 10px 0 0 10px;
  border: 2px solid #00adb5;
  border-right: none;

  &:focus {
    outline: none;
  }
}

.form__btn {
  color: #fff;
  background: #00adb5;
  padding: 0 10px;
  border: none;
  border-radius: 0 10px 10px 0;
  font-size: 1rem;
  letter-spacing: 0.5px;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}