.content__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon__wrapper {
  margin-top: 20px;

  .icon__img {
    width: 70px;
    height: 70px;
  }
}

.weather__list {
  font-size: 1.35rem;
  color: #222831;
  list-style-type: none;
  margin-top: 0;
  padding: 0;

  .list__item {
    padding: 0.95rem;

    .list__item--bg {
      padding: 10px 20px;
      background: #20003D;
      color: #fff;
      border-radius: 20px;
    }

    .list__item--bold {
      font-weight: bold;
      padding: 10px;
    }

    .list__item--italic {
      color: #20003D;
      font-style: italic;
    }

    .item__link {
      color: seashell;
    }
  }
}

.error {
  font-size: 1.5rem;
  margin: 0;
  padding: 20px;
  color: #222831;
}